extends ../layout.pug

block append calculated
  - finalTitle = hardTitle || title + ' | ' + magazineTitle + ' Editor Dashboard'
  
block navbar
  a(href="/editor/dashboard/") Dashboard
  a(href="/editor/submissions/") Submissions
  a(href="/") Leave

block footerLinks
  a(href="/") Leave Dashboard
  |  | 
  a(href="/editors/help/") Help
  |  | 
  a(href="https://github.com/benjaminbhollon/online-submissions/issues" target="_blank" rel="noopener") Submit a Bug
