doctype html
html(lang='en')
  block mixins
    include mixins/resources.pug
    include mixins/form.pug
  block defaults
    - title = 'Untitled Page'
    - magazineTitle = config.magazine.title || 'Generic Magazine'
    - metaDescription = config.magazine.blurb || magazineTitle + "'s online submission system."
  block variables
  block calculated
    - finalTitle = hardTitle || title + ' | ' + magazineTitle + ' Submissions'
  head
    block meta
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      meta(name="description" content=metaDescription)
    block style
      +stylesheet('/assets/css/global.css')
    block scripts
    title= finalTitle
  body
    div#column
      header
        block header
          h1= hardTitle || title
      nav#main-nav
        a.tab-only(href="#content") Skip Navigation
        block navbar
          a(href="/") Home
          a(href="/submit/") Submit
      main#content(tabindex="-1")
        block content
          p This page does not appear to have any content.
      footer
        block footer
          p
            block footerLinks
              a(href="/editors/" target="_blank" rel="noopener") Editor Dashboard
              |  | 
              a(href="/submit/guidelines/") Submission Guidelines
              |  | 
              a(href="https://github.com/benjaminbhollon/online-submissions/issues" target="_blank" rel="noopener") Submit a Bug

          p.codewithlove
            a(href="https://seewitheyesclosed.com" rel="noopener" target="_blank") &lt;/&gt; with &lt;3 by Benjamin Hollon
        
